@model KGERP.Service.Implementation.Procurement.VMSalesOrderSlave
@using KGERP.Utility;

@{
    ViewData["Title"] = "Deport Sales Order Received";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int sl = 0;
    double totalPrice = 0;
    double discountPrice = 0;
    decimal dis = 0;
}

<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }
</style>

<section class="content-header">
    <h1>
        @if (Model.OrderMasterId > 0)
        {
            <span>
                Sales Invoice History of: &nbsp;  @Model.OrderNo
            </span>
        }
        else
        {
            <span>
                Deport Sales Invoice
            </span>
        }
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Deport Sales Invoice</li>
    </ol>
</section>

@using (Html.BeginForm("DeportSalesOrderReceivedSlave", "Procurement", FormMethod.Post, new { id = "deportSalesOrderSlaveFormId", @class = "formValidator" }))
{
    <section class="content">
        <div class="row">
            <div class="box">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.OrderMasterId, new { id = "hidOrderMasterId" })
                @Html.HiddenFor(model => model.OrderDetailId, new { id = "hidOrderDetailId" })

                @Html.HiddenFor(model => model.ActionId, new { id = "ActionId" })
                @Html.HiddenFor(model => model.CompanyFK, new { id = "CompanyFK" })
                @Html.HiddenFor(model => model.CustomerTypeFk, new { id = "hidCustomerTypeFk" })
                @Html.HiddenFor(model => model.ID, new { id = "hidSlaveID" })

                <div class="box-danger">

                    <div class="box-body">
                        @if (Model.OrderMasterId > 0)
                        {
                            <div class="row">

                                <div class="col-md-1"> </div>
                                <div class="col-md-10">
                                    <table class="table">
                                        <tr>
                                            <th style="width:18%">Invoice No</th>
                                            <th style="width:2%">:</th>
                                            <td style="width:30%"><label class="col-form-label">@Model.OrderNo</label></td>

                                            <th style="width:18%"> Date</th>
                                            <th style="width:2%">:</th>
                                            <td style="width:30%">@Model.OrderDate.ToShortDateString()</td>
                                        </tr>

                                        <tr>
                                            <th>Deport</th>
                                            <th>:</th>
                                            <td>@Model.CommonCustomerName</td>

                                            <th>Deport Phone</th>
                                            <th>:</th>
                                            <td>@Model.CustomerPhone</td>
                                        </tr>
                                        <tr>
                                            <th>Deport Email</th>
                                            <th>:</th>
                                            <td>@Model.CustomerEmail</td>
                                            <th>Deport Address</th>
                                            <th>:</th>
                                            <td>@Model.CustomerAddress</td>
                                        </tr>

                                        <tr>
                                            <th>Zone</th>
                                            <th>:</th>
                                            <td>@Model.ZoneName</td>

                                            <th>Zone Incharge</th>
                                            <th>:</th>
                                            <td>@Model.ZoneIncharge</td>
                                        </tr>

                                        <tr>
                                            <th>Remarks</th>
                                            <th>:</th>
                                            <td>@Model.Remarks</td>

                                            <th>Created By</th>
                                            <th>:</th>
                                            <td>@Model.CreatedBy</td>
                                        </tr>

                                        @if (Model.Status > (int)EnumSOStatus.Submitted)
                                        {
                                            <tr>
                                                <th>Challan No</th>
                                                <th>:</th>
                                                <td>@Model.ChallanNo</td>

                                                <th>Challan Date</th>
                                                <th>:</th>
                                                <td>
                                                    @Model.ChallanDate
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Driver Name</th>
                                                <th>:</th>
                                                <td>@Model.DriverName</td>

                                                <th>Driver Mobile No</th>
                                                <th>:</th>
                                                <td>@Model.DriverMobileNo</td>
                                            </tr>
                                            <tr>
                                                <th>Track No</th>
                                                <th>:</th>
                                                <td>@Model.TrackNo</td>

                                                <th>Track Fair</th>
                                                <th>:</th>
                                                <td>@String.Format("{0:0.00}", Model.TrackFair)</td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                                <div class="col-md-1"> </div>
                            </div>

                            <div class="row">
                                <div class="table-responsive text-nowrap">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr class="bg-success">
                                                <th style="padding:5px;text-align:center;">SL</th>
                                                <th style="padding:5px;text-align:center;">Product</th>
                                                <th style="padding:5px;text-align:center;">Quantity</th>
                                                <th style="padding:5px;text-align:center;">Offer Qty</th>
                                                <th style="padding:5px;text-align:center;">Sale Price</th>
                                                <th style="padding:5px;text-align:center;">Total Qty</th>
                                                <th style="padding:5px;text-align:center;">Total Price</th>

                                                <th style="padding:5px;text-align:center;">Remarks</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int i = 0;
                                            }
                                            @foreach (var item in Model.DetailDataList)
                                            {
                                                totalPrice += item.TotalAmount;
                                                discountPrice = totalPrice - Convert.ToDouble(item.ProductDiscountTotal);
                                                dis += item.ProductDiscountTotal;

                                                <tr>
                                                    <td style="padding: 10px; text-align: left;">

                                                        @Html.HiddenFor(model => model.DetailDataList[i].OrderDetailId)
                                                        @Html.HiddenFor(model => model.DetailDataList[i].OrderMasterId)
                                                        @Html.HiddenFor(model => model.DetailDataList[i].FProductId)
                                                        @Html.HiddenFor(model => model.DetailDataList[i].UnitPrice)
                                                        @Html.HiddenFor(model => model.DetailDataList[i].TotalPrice)
                                                        @Html.HiddenFor(model => model.DetailDataList[i].Qty)

                                                        @(++sl)
                                                    </td>
                                                    <td style="padding:5px;text-align:left;">@item.ProductName</td>
                                                    <td style="padding:5px;text-align:center;">
                                                        @String.Format("{0:0.00}", item.Qty) @item.UnitName
                                                        @*@Html.TextBoxFor(model => model.DetailDataList[i].Qty, new { id = i + "_Qty", @class = "form-control" })*@
                                                    </td>
                                                    <td style="padding:5px;text-align:center;">
                                                        @String.Format("{0:0.00}", item.OfferQty)
                                                    </td>
                                                    <td style="padding:5px;text-align:right; font-weight:bold">
                                                        @String.Format("{0:0.00}", item.UnitPrice)
                                                        @*@Html.TextBoxFor(model => model.DetailDataList[i].UnitPrice, new { @class = "form-control", @readonly = "readonly" })*@
                                                    </td>
                                                    <td style="padding:5px;text-align:center; font-weight:bold">
                                                        @String.Format("{0:0.00}", (item.Qty+ item.OfferQty))
                                                    </td>
                                                    <td style="padding:5px;text-align:right; font-weight:bold">
                                                        @String.Format("{0:0.00}", item.TotalAmount)
                                                    </td>
                                                    <td style="padding:5px; font-weight:bold">
                                                        @if (Model.Status == (int)EnumSOStatus.Delivered)
                                                        {
                                                            @Html.TextAreaFor(model => model.DetailDataList[i].Remarks, new { @class = "form-control", rows = "1" })
                                                        }
                                                        else
                                                        {
                                                            @item.Remarks
                                                        }
                                                    </td>
                                                </tr>
                                                i++;
                                            }
                                        </tbody>

                                        <tfoot>
                                                <tr>
                                                    <th></th>
                                                    <th colspan="5">Grand Total:</th>
                                                    <th style="padding:5px;text-align:right;">@String.Format("{0:0.00}", (Convert.ToDecimal(totalPrice)) + Convert.ToDecimal(Model.CourierCharge) - Model.TotalDiscountAmount) </th>
                                                    @if (Model.Status == (int)EnumSOStatus.Draft)
                                                    {
                                                        <th></th>
                                                    }
                                                </tr>
                                            </tfoot>
                                    </table>
                                </div>
                            </div>
                        }
                    </div>

                    @if (Model.OrderMasterId > 0 && Model.Status == (int)EnumSOStatus.Delivered)
                    {
                        <div class="box-footer">

                            <div class="row">
                                <div class="col-md-6"></div>
                                <div class="col-md-6">
                                    <button type="submit" id="btnSave" class="btn btn-primary btn-block">Receive</button>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </section>
}

@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/cssjqryUi")

@section scripts {

    <script type="text/javascript">

        $(document).ready(function () {

            //$("#Qty").keyup(function () {

            //    var qty = $("#txtOrderQuantity").val();
            //    var Unit = $("#txtUnitPrice").val();
            //    var specialDis = $("#SpcDis").val();
            //    var ammount = qty * Unit;
            //    var percentage = ((specialDis / ammount) * 100);
            //    var totalPriceAfterTotalspecial = ammount - specialDis;
            //    $("#disPercentage").val(percentage);
            //    $("#totalAmount").val(totalPriceAfterTotalspecial);

            //});

            //function calculateAmount() {
            //    var packQuantity = $('#txtPackQuantity').val();
            //    var consumption = $("#txtConsumption").val();
            //    var quantityInKg = (Number(packQuantity) * Number(consumption)) / 1000;
            //    $('#txtOrderQuantity').val(Number((quantityInKg).toFixed(3)))
            //}
        });

    </script>
}