<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Images/bangladesh-seed-association.png" rel="shortcut icon" type="image/x-icon" />
    <title>@ViewBag.Title - BSA Application</title>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span> <a href="/Home/Index" class="navbar-brand"> <img src="~/Images/bangladesh-seed-association.png" alt="BSA logo" width="50" height="45" /> </a></span>
                @*@Html.ActionLink("BSA", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span></span>About BSA <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("President's Message", "MDMesseage", "Home")</li>
                            <li>@Html.ActionLink("About us", "About", "Home")</li>
                            <li>@Html.ActionLink("History of BSA", "OrganizationalHistoryOfBsa", "Home")</li>
                            <li>@Html.ActionLink("Mission & Vision of BSA", "MissionVision", "Home")</li>
                            <li>@Html.ActionLink("Core Values of BSA", "CoreValuesOfBsa", "Home")</li>
                            <li>@Html.ActionLink("Objective of BSA", "ObjectivesOfBsa", "Home")</li>
                            <li>@Html.ActionLink("Service of BSA", "ServiceOfBSA", "Home")</li>
                            <li>@Html.ActionLink("Advisory Committee", "AdvisoryCommittee", "Home")</li>
                            <li>@Html.ActionLink("EC Commitee", "ECCommittee", "Home")</li>
                            <li>@Html.ActionLink("All Sub Commitee", "SubCommittee", "Home")</li>
                            <li>@Html.ActionLink("BSA Memorandum", "BsaMemorandum", "Home")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span></span>Members<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("New Member Rules", "NewMemberRules", "Home")</li>
                            <li>@Html.ActionLink("Membership Form", "MembershipForm", "Home")</li>
                            <li>@Html.ActionLink("Membership Fee", "MembershipFees", "Home")</li>
                            <li>@Html.ActionLink("Membership List", "MemberList", "Home")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span></span>Event<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            @*<li>@Html.ActionLink("EC Meeting Notice", "UnderConstruction", "Home")</li>
                <li>@Html.ActionLink("EC-Meeting Minute of BSA", "UnderConstruction", "Home")</li>*@
                            <li>@Html.ActionLink("Annual General Meeting of BSA", "UnderConstruction", "Home")</li>
                            <li>@Html.ActionLink("Extra Ordinary General Meeting ", "UnderConstruction", "Home")</li>

                            <li>@Html.ActionLink("BSA Training", "UnderConstruction", "Home")</li>
                            <li>@Html.ActionLink("Upcomming Event", "UnderConstruction", "Home")</li>
                            <li>@Html.ActionLink("Previous Event", "UnderConstruction", "Home")</li>
                            <li>@Html.ActionLink("Elections", "UnderConstruction", "Home")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span></span>Photo Gallery<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Picnic Photo", "UnderConstruction", "Home")</li>
                            <li>@Html.ActionLink("AGM Photo", "UnderConstruction", "Home")</li>
                            <li>@Html.ActionLink("Training Photo", "UnderConstruction", "Home")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span></span>News<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("BSAMessages", "Index", "BSAMessages")</li>
                            <li>@Html.ActionLink("News letter", "UnderConstruction", "Home")</li>
                            <li>@Html.ActionLink("Industry news", "IndustrialNews", "Home")</li>
                        </ul>
                    </li>

                    <li>@Html.ActionLink("Contact BSA", "Contact", "Home")</li>
                    <li>@Html.ActionLink("AGM Registration 2021", "AgmForm", "BsaAGMs")</li>


                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

        <footer class="page-footer text-center bg-light alert-success">
            <p>&copy; @DateTime.Now.Year - All Right Reseved KGeCom Limited</p> <span><a href="http://mail.bsabd.net/Login.aspx" target="_blank"><b>Web Mail</b></a></span> || <span><a href="http://member.bsabd.net/" target="_blank"><b>BSA Software</b></a></span>
        </footer>
    </div>



    <div class="sticky-container">
        <ul class="sticky">
            <li>
                <img src="~/Images/fb.png" width="32" height="32">
                <p><a href="https://web.facebook.com/bsabd2000" target="_blank">Like Us on<br>Facebook</a></p>
            </li>
            <li>
                <img src="~/images/twitter2.jpg" width="32" height="32">
                <p><a href="https://twitter.com/bsabd2000" target="_blank">Follow Us on<br>Twitter</a></p>
            </li>
            <li>
                <img src="~/images/google-plus-icon.png" width="32" height="32">
                <p><a href="https://plus.google.com/bsabd2000" target="_blank">Follow Us on<br>Google+</a></p>
            </li>
            <li>
                <img src="~/images/linkdin.jpg" width="32" height="32">
                <p><a href="https://www.linkedin.com/company/" target="_blank">Follow Us on<br>LinkedIn</a></p>
            </li>
            <li>
                <img src="~/images/1200px-YouTube.png" width="32" height="32">
                <p><a href="http://www.youtube.com/bsabd2000" target="_blank">Subscribe on<br>YouYube</a></p>
            </li>
            <li>
                <img src="~/images/pinset.png" width="32" height="32">
                <p><a href="https://www.pinterest.com/bsabd2000" target="_blank">Follow Us on<br>Pinterest</a></p>
            </li>
        </ul>
    </div>
    <style>
        .sticky-container {
            padding: 0px;
            margin: 0px;
            position: fixed;
            right: -130px;
            top: 230px;
            width: 210px;
            z-index: 1100;
        }

        .sticky li {
            list-style-type: none;
            background-color: #fff;
            color: #efefef;
            height: 43px;
            padding: 0px;
            margin: 0px 0px 1px 0px;
            -webkit-transition: all 0.25s ease-in-out;
            -moz-transition: all 0.25s ease-in-out;
            -o-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
            cursor: pointer;
        }

            .sticky li:hover {
                margin-left: -115px;
            }

            .sticky li img {
                float: left;
                margin: 5px 4px;
                margin-right: 5px;
            }

            .sticky li p {
                padding-top: 5px;
                margin: 0px;
                line-height: 16px;
                font-size: 11px;
            }

                .sticky li p a {
                    text-decoration: none;
                    color: #2C3539;
                }

                    .sticky li p a:hover {
                        text-decoration: underline;
                    }

        .icon-bar {
            position: fixed;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }

            .icon-bar a {
                display: block;
                text-align: center;
                padding: 16px;
                transition: all 0.3s ease;
                color: white;
                font-size: 20px;
            }

                .icon-bar a:hover {
                    background-color: #000;
                }

        .facebook {
            background: #3B5998;
            color: white;
        }

        .twitter {
            background: #55ACEE;
            color: white;
        }

        .google {
            background: #dd4b39;
            color: white;
        }

        .linkedin {
            background: #007bb5;
            color: white;
        }

        .youtube {
            background: #bb0000;
            color: white;
        }

        .content {
            margin-left: 75px;
            font-size: 30px;
        }
    </style>

   
    @RenderSection("scripts", required: false)
</body>
</html>
