@model Lib.Spacl.org.Model.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductImagePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductCategory.ProductType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCategory.ProductType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductSubCategory.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductSubCategory.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("CreateOrEdit", "CreateOrEdit", new { id = Model.ProductId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
