@model BSA.Data.Models.UserMenu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserMenu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Menu.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Menu.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubMenu.Name)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.IsView)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsView)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAdd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAdd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsUpdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDelete)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.SubMenu.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserMenuId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
