@model BSA.Models.UserLogin

<head>
    <link href="~/Images/Logo/b.png" rel="shortcut icon" type="image/x-icon" />
    <title>
        BSA
    </title>


    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Login.css" rel="stylesheet" />
    <link href="~/Content/all.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/login.jquery.slim.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>



    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/ionicons.min.css" rel="stylesheet" />

    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">*@
    
    @{
        ViewBag.Title = "Login";
        Layout = null;
    }
    <style>
        .form-control:focus {
            box-shadow: 1px 1px 20px #b6ff00;
            border-color: #ddd !important;
        }

        .form-control {
            border-color: #ddd !important;
        }
        /*body {
                background-image: url('../../Images/Packaging.jpg');
                background-color: #cccccc;
            }*/
    </style>

</head>
    <body>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="container">
                <div class="row">
                    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto red-square">
                        <div class="card card-signin">
                            <div style="text-align:center;">
                                <img width="200" height="80" src="~/Images/Logo/TBSA.png" />
                            </div>
                            <div class="card-body">
                                <form class="form-signin">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label" })
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user" style="color:#333"></i></span>
                                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Member ID" } })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock" style="color:#333"></i></span>
                                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>


                                    <br />
                                    <br />

                                    <button class="btn btn-lg btn-success btn-block text-uppercase" value="Login" type="submit">Sign in</button>
                                    <hr class="my-4">
                                    @if (ViewBag.Message != "")
                                    {
                                        <div style="color:red" class="text-center">@ViewBag.Message</div>
                                    }

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        @section Scripts{
            <script src="~/Scripts/jquery.validate.min.js"></script>
            <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        }

    </body>


















@*@{
        Layout = null;
    }

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <link href="~/Images/Logo/kg_logo-150x150.ico" rel="shortcut icon" type="image/x-icon" />
        <title>
            KG-ERP
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--===============================================================================================-->
        <link href="~/Content/Login/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <!--===============================================================================================-->
        <link href="~/Content/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <!--===============================================================================================-->
        <link href="~/Content/Login/fonts/iconic/css/material-design-iconic-font.min.css" rel="stylesheet" />
        <!--===============================================================================================-->
        <link href="~/Content/Login/vendor/animate/animate.css" rel="stylesheet" />
        <!--===============================================================================================-->
        <link href="~/Content/Login/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
        <!--===============================================================================================-->
        <link href="~/Content/Login/vendor/animsition/css/animsition.min.css" rel="stylesheet" />
        <!--===============================================================================================-->
        <link href="~/Content/Login/vendor/select2/select2.min.css" rel="stylesheet" />
        <!--===============================================================================================-->
        <link href="~/Content/Login/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" />
        <!--===============================================================================================-->
        <link href="~/Content/Login/css/util.css" rel="stylesheet" />
        <link href="~/Content/Login/css/main.css" rel="stylesheet" />
        <!--===============================================================================================-->
    </head>
    <body>

        <div class="limiter">
            <div class="container-login100" style="background-color:#30B58A">
                <div class="wrap-login100">


                    <form action="/User/Login" method="post" class="login100-form validate-form">
                        <span class="login100-form-title p-b-26">
                            <img src="~/Content/img/kbglogo.png">
                        </span>


                        <div class="wrap-input100 validate-input" data-validate="Enter Employee ID">
                            <input class="input100" type="text" name="EmployeeId">
                            <span class="focus-input100" data-placeholder="Employee ID"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Enter password">
                            <span class="btn-show-pass">
                                <i class="zmdi zmdi-eye"></i>
                            </span>
                            <input class="input100" type="password" name="Password">
                            <span class="focus-input100" data-placeholder="Password"></span>
                        </div>

                        <div class="container-login100-form-btn">
                            <span style="color:red">
                                @if (ViewBag.message != null)
                                {
                                    @ViewBag.message
                                }

                            </span>
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <button type="submit" class="login100-form-btn">
                                    Login
                                </button>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>




        <!--===============================================================================================-->
        <script src="~/Content/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/Content/Login/vendor/animsition/js/animsition.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/Content/Login/vendor/bootstrap/js/popper.min.js"></script>
        <script src="~/Content/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/Content/Login/vendor/select2/select2.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/Content/Login/vendor/daterangepicker/moment.min.js"></script>
        <script src="~/Content/Login/vendor/daterangepicker/daterangepicker.js"></script>
        <!--===============================================================================================-->
        <script src="~/Content/Login/vendor/countdowntime/countdowntime.js"></script>
        <!--===============================================================================================-->
        <script src="~/Content/Login/js/main.js"></script>
    </body>
    </html>*@
































