@model IEnumerable<BSA.Data.Models.BsaAGM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>2021 AGM Registered Data</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<input type="submit" class="btn btn-primary" id="btnExport" value="Export" />

<hr style="border-color:#ff0000; padding:0px;margin-top: 5px;margin-bottom: 5px; border-width: 2px;" />
<br />
<table id="tblMember" class="table" cellpadding="0" cellspacing="0">
    <tr>
        <th>
            AGM Year
        </th>
        <th>
            Member/ Dealer Id
        </th>
        <th>
            Name of Dealer
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disrtict)
        </th>
        <th>
            Phone No
        </th>
        <th>
            Name of Representative
        </th>

        <th>
            Created Date
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        @*<th></th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AGMYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberOrDealerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfDealer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disrtict)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfRepresentative)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                </td>*@
        </tr>
    }

</table>
<script src="~/Scripts/Table2Excel.JavaScript.js"></script>
<script type="text/javascript">
    $(function () {
        $("#btnExport").click(function () {
            $("#tblMember").table2excel({
                filename: "AGMRegistration.xls"
            });
        });
    });
</script>