@model BSA.Service.ServiceModel.MemberModel

@{
    ViewBag.Title = "Details";
}
<div class="row">
    @*<table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <td colspan="4">
                    <div style="width: 100px;">
                        <img style="margin: 2px;" alt="Picture" height="100" width="100" src="@Url.Content(Model.ImagePath)" />
                    </div>
                    <div style="width: 350px;float: left;margin-left: 104px;margin-top: -42px;">
                        <span><b>Company Name : </b></span> <span>@Model.MemberName</span><br />
                        <span><b>Member ID: </b></span> <span>@Model.EmployeeId</span>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>*@
    <div style="background-color:#009270;color:#FFFFFF;padding:2px;">
        <h4><b>Company Details</b></h4>
    </div>
    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <td style="font-weight:bold" align="right">Member ID:</td>
                <td>@Model.MemberId</td>
                <td style="font-weight:bold" align="right">Company Name</td>
                <td>@Model.MemberName</td>
            </tr>
            <tr>
                <td style="font-weight:bold" align="right">Member Category</td>
                <td>@Model.MemberType</td>
                <td style="font-weight:bold" align="right">Address</td>
                <td>@Model.AddressOne</td>
            </tr>
            <tr>
                <td style="font-weight:bold" align="right">Website</td>
                <td>
                    @Model.Website
                </td>
                @if (Model.Id == 2)
                {
                    <td style="font-weight:bold" align="right">T O No</td>
                }
                else
                {
                    <td style="font-weight:bold" align="right">Tin No</td>
                }
                <td>@Html.DisplayFor(model => model.TIN)</td>
            </tr>
            <tr>
                <td style="font-weight:bold" align="right">Telephone</td>
                <td>@Model.Telephone</td>
                <td style="font-weight:bold" align="right">Email</td>
                <td>@Model.OfficeEmail</td>
            </tr>
            <tr>
                <td style="font-weight:bold" align="right">Representative's Name </td>
                <td>@Model.Delegate</td>
                <td style="font-weight:bold" align="right">Representative's Mobile</td>
                <td>@Model.MobileNo</td>
            </tr>
        </tbody>
    </table>

</div>












