@using PagedList.Mvc;
@model PagedList.IPagedList<BSA.Service.ServiceModel.AdminSetUpModel>
@using PagedList;
@{
    ViewBag.Title = "Index";
}

<div class="container">


    @Html.ActionLink("Create New", "CreateOrEdit", new { id = 0 })<br />
    @using (Html.BeginForm("Index", "AdminSetUp", FormMethod.Get))
    {
        <div class="row">
            <div class="col-md-6">
                <h4><b>Admin</b></h4>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <div class="col-md-10">@Html.TextBox("searchText", null, new { @autocomplete = "off", @class = "form-control pull-right", @placeholder = "Search..." })</div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-success">Search&nbsp;<i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    }




    <div class="row">

        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().Id)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.First().IsActive)
                </th>
                <th>Action</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @("[" + item.Employee.EmployeeId + "] " + item.Employee.Name)
                    </td>
                    <td>
                        @if (item.IsActive)
                        {
                            <button class="btn btn-success btn-xs">
                                Active
                            </button>
                        }

                    </td>

                    <td>
                        <a href="@Url.Action("CreateOrEdit", new { id = item.AdminId })">
                            <i class="fa fa-edit" style="font-size:15px;" aria-hidden="true"></i>
                        </a>

                    </td>
                </tr>
            }

        </table>
        <span class="btn btn-success">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        </span>
        <span class="checkbox">
            @Html.PagedListPager(Model, Page_No => Url.Action("Index", "AdminSetUp",
                    new { Page_No, Sorting_Order = Request.QueryString["Search"] }))
        </span>


    </div>

</div>


















@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AdminId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AdminId })
            </td>
        </tr>
        }

    </table>*@
