@model KGERP.Data.CustomModel.ReportCustomerModel
<div class="row">
    <div class="col-md-12" style="background-color: lightblue;">
        <span style="font-size:20px;color:#000000">Customer List Report</span>
    </div>
</div>
<br />

<section class="content">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("CustomerListReport", "Report", FormMethod.Post, new { @id = "idForm" }))
            {
                <div class="box">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="box-danger">
                        <!-- /.box-header -->
                        <div class="box-body">

                            @Html.HiddenFor(model => model.CompanyId, new { @id = "hfCompanyId" })

                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Zone:</label>
                                        <br />
                                        @Html.DropDownListFor(model => model.ZoneFk, new SelectList(Model.ZoneList, "Value", "Text"), "--Select Zone--", new { id = "ddlCommon_ZoneFk", @class = "searchingDropdown form-control" })
                                        @Html.ValidationMessageFor(model => model.ZoneFk, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">ZoneDivision:</label>
                                        <br />
                                        @Html.DropDownListFor(model => model.ZoneDivisionId, Model.ZoneDivisionList, "--Select ZoneDivision--", new { id = "ddlCommon_RegionFk", @class = "searchingDropdown form-control" })
                                        @Html.ValidationMessageFor(model => model.ZoneDivisionId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Area:</label>
                                        <br />
                                        @Html.DropDownListFor(model => model.AreaId, new SelectList(Model.AreaList, "Value", "Text"), "--Select Area--", new { id = "ddlCommon_AreFk", @class = "searchingDropdown form-control" })

                                        @Html.ValidationMessageFor(model => model.AreaId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Territory:</label>
                                        <br />
                                        @Html.DropDownListFor(model => model.SubZoneFk, Model.SubZoneList, "--Select Territory--", new { id = "ddlCommon_TerritoryFk", @class = "searchingDropdown form-control" })
                                        @Html.ValidationMessageFor(model => model.SubZoneFk, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9"></div>
                                <div class="col-md-3" style="float:right;display:flex">
                                    <div class="form-group">
                                        <select class="pull-left" style="color:#ffffff; background-color:#dd4b39;height:34px;font-size:15px" name="ReportType" id="ReportType">
                                            <option value="PDF">PDF</option>
                                            <option value="EXCEL">EXCEL</option>
                                            <option value="WORD">WORD</option>
                                        </select>
                                        <input type="submit" name="EXPORT" value="EXPORT" class="btn btn-success pull-left" formtarget="_blank" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<script>

    $(document).ready(function () {






    });

    $('#ddlCommon_ZoneFk').change(function () {
        var zoneId = $("#ddlCommon_ZoneFk").val();

        $.ajax({
            type: "GET",
            url: "@Url.Action("GetZoneDivisionList", "Configuration")",
            datatype: "Json",
            data: { companyId: @Model.CompanyId, zoneId: zoneId },
            success: function (data) {
                var items = "";
                if (data) {
                    $("#ddlCommon_RegionFk").empty();
                    $(data).each(function (index, item) {
                        $("#ddlCommon_RegionFk").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                    });

                }
            }
        });
    });
    $('#ddlCommon_RegionFk').change(function () {
        var zoneValue = $("#ddlCommon_ZoneFk").val();
        var regionValue = $("#ddlCommon_RegionFk").val();
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetAreaList", "Configuration")",
            datatype: "Json",
            data: { companyId:@Model.CompanyId, zoneId: zoneValue, zoneDivisionId: regionValue },
            success: function (data) {
                if (data) {
                    $("#ddlCommon_AreFk").empty();
                    $(data).each(function (index, item) {
                        $("#ddlCommon_AreFk").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                    });


                }
            }
        });

    });

    $('#ddlCommon_AreFk').change(function () {

        var areaValue = $("#ddlCommon_AreFk :selected").val();
        $.ajax({
            type: "GET",
            url: "@Url.Action("CommonSubZonesGet", "Configuration")",
            datatype: "Json",
            data: { id: areaValue },
            success: function (data) {
                if (data) {
                    $("#ddlCommon_TerritoryFk").empty();
                    $("#ddlCommon_TerritoryFk").append("<option value=''>==Select Territory==</option>");
                    $(data).each(function (index, item) {
                        $("#ddlCommon_TerritoryFk").append("<option value='" + item.Value + "'>" + item.Text + "</option>");

                    });

                }
            }
        });
    });

</script>




