@model KGERP.Data.CustomModel.ReportCustomModel
@using KGERP.Utility
<div class="row">
    <div class="col-md-12" style="background-color:lightblue">
        @Html.Label("Dealer Damage Stock Report", new { @style = "font-size:20px" })
    </div>
</div>
<br />

@using (Html.BeginForm("DealerDamageStockReport", "Report", FormMethod.Post, new { @id = "idForm" }))
{

    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CompanyId, new { @id = "hfCompanyId" })
    @Html.HiddenFor(model => model.UserDataAccessModel.UserTypeId, new { @id = "hfUserTypeId" })
    @Html.HiddenFor(model => model.UserDataAccessModel.UserName, new { @id = "hfUserName" })
    <div class="row">

        @if (Model.UserDataAccessModel.UserTypeId == (int)EnumUserType.Dealer)
        {
            @Html.HiddenFor(model => model.ZoneId, new { @id = "hfZoneId" })
            @Html.HiddenFor(model => model.DeportId, new { @id = "hfDeportId" })
            @Html.HiddenFor(model => model.DealerId, new { @id = "hfDealerId" })
        }

        <div class="col-md-3">
            <div class="form-group">
                @Html.Label("From Date:", htmlAttributes: new { @class = "control-label" })
                <br />
                <div style="display:flex">
                    @Html.EditorFor(model => model.StrFromDate, new { htmlAttributes = new { @class = "datepicker form-control", @autocomplete = "off", @style = "width: 100%;" } })
                </div>
                @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                @Html.Label("To Date:", htmlAttributes: new { @class = "control-label" })
                <br />
                <div style="display:flex">
                    @Html.EditorFor(model => model.StrToDate, new { htmlAttributes = new { @class = "datepicker form-control", @autocomplete = "off", @style = "width: 100%;" } })
                </div>
                @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Zone:</label>
                @Html.DropDownListFor(model => model.ZoneId, Model.SelectZoneList as SelectList, "==Select Zone==", new { id = "ddlZoneFk", @class = "form-control searchingDropdown disable", style = "width:100%" })
                @Html.ValidationMessageFor(model => model.ZoneId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Deport:</label>
                @Html.DropDownListFor(model => model.DeportId, Model.DeportList as SelectList, "==Select Deport==", new { id = "ddlDeportId", @class = "form-control searchingDropdown disable", style = "width:100%" })
                @Html.ValidationMessageFor(model => model.DeportId, "", new { @class = "text-danger" })
            </div>
        </div>




        <div class="col-md-3">
            <div class="form-group">
                <label>Dealer:</label>
                @Html.DropDownListFor(model => model.DealerId, Model.DealerList as SelectList, "==Select Dealer==", new { id = "ddlDealerId", @class = "form-control searchingDropdown disable", style = "width:100%" })
                @Html.ValidationMessageFor(model => model.DealerId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Customer:</label>
                @Html.DropDownListFor(model => model.CustomerId, Model.CustomerList as SelectList, "==Select Customer==", new { id = "ddlCustomerId", @class = "form-control searchingDropdown", style = "width:100%" })
                @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="message-text" class="col-form-label">Category:</label>
                <br />
                @Html.DropDownListFor(model => model.ProductCategoryId, new SelectList(Model.ProductCategoryList, "Value", "Text"), new { id = "ddlCommon_ProductCategoryFk", @class = "searchingDropdown  customStyle", @style = "width: 100%;" })
                @Html.ValidationMessageFor(model => model.ProductCategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label for="message-text" class="col-form-label">Subcategory:</label>
                <br />
                @Html.DropDownListFor(model => model.ProductSubCategoryId, Model.ProductSubCategoryList as SelectList, "==Select Subcategory==", new { id = "ddlCommonProductSubCategoryFk", @class = "searchingDropdown  customStyle", @style = "width: 100%;" })
                @Html.ValidationMessageFor(model => model.ProductSubCategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label for="message-text" class="col-form-label">Product:</label>
                <br />
                @Html.DropDownListFor(model => model.ProductId, Model.ProductList as SelectList, "==Select Product==", new { id = "ddlCommonProductFk", @class = "searchingDropdown  customStyle", @style = "width: 100%;" })
                @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-3" style="margin-top:24px;float:left;display:flex">
            <select class="pull-right" style="color:#ffffff; background-color:#dd4b39;height:34px;font-size:15px;width:50%" name="ReportType" id="ReportType">
                <option value="PDF">PDF</option>
                <option value="EXCEL">EXCEL</option>
                <option value="WORD">WORD</option>
            </select>
            &nbsp;
            <input type="submit" name="EXPORT" value="EXPORT" class="btn btn-success pull-right" formtarget="_blank" />
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker({
                dateFormat: "mm/dd/yy",
                showOn: 'both',
                buttonText: "<i class='fa fa-calendar'></i>",
                changeMonth: true,
                changeYear: true,
                yearRange: "2001:+50"
            });


        var employeeId = $('#hfUserTypeId').val();
        var userName = $('#hfUserName').val();


        if (userName == "AZ00001" || employeeId == @((int)EnumUserType.Management)) {
            $('.disable').attr("disabled", false);
        } else if ((employeeId == @((int)EnumUserType.Dealer))||(employeeId == @((int)EnumUserType.Deport))) {

            $('.disable').attr("disabled", true);
            $('#ddlSubZone').prop("required", true);
            if ((employeeId == @((int)EnumUserType.Dealer)) && areaId.val()>0) {
                areaId.attr("disabled", true);
            }
        } else {

        }










        });

        $("#ddlZoneFk").change(function () {
            var zoneFk = $("#ddlZoneFk").val();
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetDeportLisByZoneId", "Procurement")",
                datatype: "Json",
                data: { zoneId: zoneFk },
                success: function (data) {

                    if (data) {
                        $("#ddlDeportId").empty();
                        $("#ddlDeportId").append("<option value=''>==Select Deport==</option>");
                        $(data).each(function (index, item) {
                            $("#ddlDeportId").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                        });
                    }
                }
            });
        });
        $("#ddlDeportId").change(function () {
            var deportId = $("#ddlDeportId").val();
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetDealerListByParentId", "Configuration")",
                datatype: "Json",
                data: { id: deportId },
                success: function (data) {

                    if (data) {
                        $("#ddlDealerId").empty();
                        $("#ddlDealerId").append("<option value=''>==Select Dealer==</option>");
                        $(data).each(function (index, item) {
                            $("#ddlDealerId").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                        });
                    }
                }
            });
        });

        $("#ddlDealerId").change(function () {
            var dealerId = $("#ddlDealerId").val();
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetCustomerByDealerId", "Configuration")",
                datatype: "Json",
                data: { dealerId: dealerId },
                success: function (data) {

                    if (data) {
                        $("#ddlCustomerId").empty();
                        $("#ddlCustomerId").append("<option value=''>==Select Customer==</option>");
                        $(data).each(function (index, item) {
                            $("#ddlCustomerId").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                        });
                    }
                }
            });
        });


        $("#ddlCommon_ProductCategoryFk").change(function () {

            var productCategoryFk = $("#ddlCommon_ProductCategoryFk").val();
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetCommonProductSubCategory", "WareHouse")",
                datatype: "Json",
                data: { id: productCategoryFk },
                success: function (data) {
                    var items = "";
                    if (data) {
                        $("#ddlCommonProductSubCategoryFk").empty();
                        $("#ddlCommonProductSubCategoryFk").append("<option value=''>==Select Subcategory==</option>");
                        $(data).each(function (index, item) {
                            $("#ddlCommonProductSubCategoryFk").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                        });

                    }
                }
            });
        });


        $("#ddlCommonProductSubCategoryFk").change(function () {

            var productSubCategoryFk = $("#ddlCommonProductSubCategoryFk").val();
            if (productSubCategoryFk == (null | "")) {
                return null;
            } else {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetCommonProduct", "WareHouse")",
                    datatype: "Json",
                    data: { id: productSubCategoryFk },
                    success: function (data) {
                        var items = "";
                        if (data) {
                            $("#ddlCommonProductFk").empty();
                            $("#ddlCommonProductFk").append("<option value=''>==Select Item==</option>");
                            $(data).each(function (index, item) {
                                $("#ddlCommonProductFk").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                            });

                        }
                    }
                });
            }
        });

    </script>
}





