@model KGERP.Data.CustomModel.ReportCustomModel

<div class="row">
    <div class="col-md-12" style="background-color: lightblue;">
        <span style="font-size:20px;color:#000000">Deport List Report</span>
    </div>
</div>
<br />
<section class="content">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("DeportListReport", "Report", FormMethod.Post, new { @id = "idForm" }))
            {

                <div class="box">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="box-danger">
                        <!-- /.box-header -->
                        <div class="box-body">
                            @Html.HiddenFor(model => model.CompanyId, new { @id = "hfCompanyId" })

                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Zone:</label>
                                        <br />
                                        @Html.DropDownListFor(model => model.ZoneId, new SelectList(Model.SelectZoneList, "Value", "Text"), "--Select Zone--", new { id = "ddlCommon_ZoneFk", @class = "searchingDropdown form-control" })
                                        @Html.ValidationMessageFor(model => model.ZoneId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Division:</label>
                                        <br />
                                        @Html.DropDownListFor(model => model.ZoneDivisionId, Model.ZoneDivisionList, "--Select Division--", new { id = "ddlCommon_ZoneDivisionFk", @class = "searchingDropdown form-control" })
                                        @Html.ValidationMessageFor(model => model.ZoneDivisionId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Region:</label>
                                        @Html.DropDownListFor(model => model.RegionId, Model.RegionList as SelectList, "--Select Region--", new { id = "ddlRegionId", @class = "form-control searchingDropdown", required = "required" })
                                        @Html.ValidationMessageFor(model => model.RegionId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3" style="margin-top:24px;">
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <select asp-for="ReportType" class="" style="color:#fff; background-color:#dd4b39;height:34px;font-size:15px;width:100%" name="ReportType" id="ddlReportType">
                                                <option value="PDF">PDF</option>
                                                <option value="EXCEL">EXCEL</option>
                                                <option value="WORD">WORD</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <input style="width:100%" type="submit" name="EXPORT" value="EXPORT" class="btn btn-success" formtarget="_blank" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            }
        </div>
    </div>
</section>


<script>

    $(document).ready(function () {

    });

    $('#ddlCommon_ZoneFk').change(function () {
        var zoneId = $("#ddlCommon_ZoneFk").val();

        $.ajax({
            type: "GET",
            url: "@Url.Action("GetZoneDivisionList", "Configuration")",
            datatype: "Json",
            data: { companyId: @Model.CompanyId, zoneId: zoneId },
            success: function (data) {
                var items = "";
                if (data) {
                    $("#ddlCommon_ZoneDivisionFk").empty();
                    $(data).each(function (index, item) {
                        $("#ddlCommon_ZoneDivisionFk").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                    });

                }
            }
        });
    });

    $('#ddlCommon_ZoneDivisionFk').change(function () {
        var zoneId = $("#ddlCommon_ZoneFk").val();
        var zoneDivisionId = $("#ddlCommon_ZoneDivisionFk").val();

        $.ajax({
            type: "GET",
            url: "@Url.Action("GetRegionList", "Configuration")",
            datatype: "Json",
            data: { companyId:@Model.CompanyId, zoneId: zoneId, zoneDivisionId: zoneDivisionId },
            success: function (data) {

                if (data) {
                    $("#ddlRegionId").empty();
                    //$("#ddlRegionId").append("<option value=''>==Select Region==</option>");
                    $(data).each(function (index, item) {
                        $("#ddlRegionId").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                    });
                    if (regionValue > 0) {
                        $("#ddlRegionId").val(regionValue);

                    }
                }
            }
        });
    });

</script>




