
@using PagedList.Mvc;
@model PagedList.IPagedList<BSA.Service.ServiceModel.YearlyHolidayModel>
@using PagedList;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@


@using (Html.BeginForm("Index", "YearlyHolidays", FormMethod.Get))
{
    <div class="row" style="max-width:1030px;">
        <div class="col-md-6">
            <div class="form-group">
                <h4><b>Yearly Holiday of @DateTime.Now.Year</b></h4>
            </div>
        </div>
        <div class="col-md-4 pull-right">
            <div class="form-group">
                <div class="col-md-10">@Html.TextBox("searchText", null, new { @autocomplete = "off", @class = "form-control pull-right", @placeholder = "Search.." })</div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-success">Search&nbsp;<i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
        @*<div class="col-md-2 pull-right">
                <div class="form-group">
                    <a href="@Url.Action("Create", new { id = 0 })" title="New Application" class="btn btn-primary pull-right">
                        <span class="glyphicon glyphicon-user"></span> Add
                    </a>
                </div>
            </div>*@
    </div>

    <hr style="border-color:red; padding:0px;margin-top: 0px;margin-bottom: 20px; border-width: 2px;" />
}


<table class="table table-striped">
    <tr style="background-color:#009270;color:#FFFFFF">
        <th>
            @Html.DisplayNameFor(model => model.First().HolidayDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().HolidayCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Purpose)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HolidayDate, "{0:dd-MMM-yyyy}")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HolidayCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purpose)
            </td>

            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.YearlyHolidayId }) |
                    @Html.ActionLink("Details", "Details", new { id=item.YearlyHolidayId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.YearlyHolidayId })
                </td>*@
        </tr>
    }

</table>
@if (Model.PageCount > 1)
{
    <span class="btn btn-success">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </span>
    <span class="checkbox">
        @Html.PagedListPager(Model, Page_No => Url.Action("Index", "YearlyHolidays",
                      new { Page_No, Sorting_Order = Request.QueryString["Search"] }))
    </span>
}