
@model Bsa.lib.CustomModel.BsaAGMModel
@{
    ViewBag.Title = "AGMRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AGM Registration</h2>


<br />
<style>
    .bxshadow {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 20px;
        padding: 10px;
    }
</style>
@using (Html.BeginForm("Home", "AGMRegistration", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info bxshadow">
                <div class="panel-heading"><b>AGM Reg. Form</b></div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.AGMYear, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.AGMYear, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = "2021" } })
                                @Html.ValidationMessageFor(model => model.AGMYear, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.MemberOrDealerId, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.MemberOrDealerId, new { htmlAttributes = new { @class = "form-control", @id = "MemberOrDealerId" } })
                                @Html.ValidationMessageFor(model => model.MemberOrDealerId, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.NameOfDealer, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.NameOfDealer, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NameOfDealer, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PhoneNo, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.NameOfRepresentative, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.NameOfRepresentative, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NameOfRepresentative, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.NoofPerson, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.NoofPerson, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NoofPerson, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Disrtict, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Disrtict, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Disrtict, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label" })
                                <textarea name="Remarks" id="Remarks" class="form-control" style="margin: 0px; width: 267px; height: 103px;">Enter text here...</textarea>
                                @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                            </div>

                            <address>
                                <div class="form-group">
                                    <div class="col-md-offset-0 col-md-12">
                                        <input type="submit" value="Submit" class="btn btn-primary" />
                                    </div>
                                </div>
                            </address>
                        </div>
                        <div class="col-md-4">
                            <img src="~/Images/bangladesh-seed-association.png" width="150" height="150" />
                            <h4>
                                <b>Bangladesh Seed Association (BSA)</b>
                            </h4>
                            <hr style="border-color:forestgreen" />
                            <address>
                                <b>Registered Office: </b>
                                145,Siddique Bazar(1st Floor), <br />
                                Room# 2007/08, <br />
                                Dhaka-1000,Bangladesh,
                                Telephon No: +8802-9569677 <br />
                                <b> Contact Person:</b><br /> Md. Akhtarul Islam<br />
                                Cell:+88 01747647505<br />
                                <strong>Email:</strong>   <a href="mailto:oe@bsabd.net">oe@bsabd.net</a><br />
                            </address>
                            <address>
                                <b>Secretariat Office: </b>
                                1/D, Monipuripara, Sangsad Bhaban Avenue,
                                Dhaka-1215.<br />
                                <strong>Email:</strong>   <a href="mailto:info@bsabd.net">info@bsabd.net</a><br />
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


