@model Bsa.lib.CustomModel.ContactModel
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<style>
    .bxshadow {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 20px;
        padding: 10px;
    }
</style>
<div class="row">
    <div class="col-md-11">
        <div class="panel panel-info bxshadow">
            <div class="panel-heading"><b>Contact Information</b></div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-4">
                        <div class="form-group">                           
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Massage, htmlAttributes: new { @class = "control-label" })
                            @*@Html.EditorFor(model => model.Massage, new { htmlAttributes = new { @class = "form-control" } })*@
                            <textarea name="Massage" id="Massage" style="margin: 0px; width: 267px; height: 103px;">Enter text her e...</textarea>
                            @Html.ValidationMessageFor(model => model.Massage, "", new { @class = "text-danger" })
                        </div>

                        <address>
                            <div class="form-group">
                                <div class="col-md-offset-0 col-md-12">
                                    <input type="submit" value="Submit" class="btn btn-primary" />
                                </div>
                            </div>
                        </address>
                    </div>
                    <div class="col-md-3"> </div>
                    <div class="col-md-5">
                        <img src="~/Images/bangladesh-seed-association.png" width="150" height="150" />
                        <h4>
                            <b>Bangladesh Seed Association (BSA)</b>
                        </h4>
                        <hr style="border-color:forestgreen" />
                        <address>
                            <b>Registered Office: </b>
                            145,Siddique Bazar(1st Floor), <br />
                            Room# 2007/08, <br />
                            Dhaka-1000,Bangladesh,
                            Telephon No: +8802-9569677 <br />
                            <b> Contact Person:</b><br /> Md. Akhtarul Islam<br />
                            Cell:+88 01747647505<br />
                            <strong>Email:</strong>   <a href="mailto:oe@bsabd.net">oe@bsabd.net</a><br />
                        </address>
                        <address>
                            <b>Secretariat Office: </b>
                            1/D, Monipuripara, Sangsad Bhaban Avenue,
                            Dhaka-1215.<br />
                            <strong>Email:</strong>   <a href="mailto:info@bsabd.net">info@bsabd.net</a><br />
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
