@{
    ViewData["Title"] = "Supplier List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model KGERP.Service.Implementation.Configuration.VMCommonSupplier

<style type="text/css">
    input, select, textarea {
        max-width: 100%;
    }
</style>

<section class="content-header">
    <h1>
        <b>Supplier List</b> 
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Supplier</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
                <div class="box">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="box-danger">

                        <div class="box">
                            <div class="box-danger">
                                <div class="box-header">

                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <div class="table-responsive">
                                        <table id="KgErpDataTable" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>SL</th>
                                                    <th>Code</th>
                                                    <th>
                                                        Name
                                                    </th>
                                                    <th>
                                                        Phone
                                                    </th>
                                                    <th>
                                                        Email
                                                    </th>
                                                    <th>
                                                        Contact Person
                                                    </th>
                                                    <th>
                                                        Address
                                                    </th>
                                                    <th>Type</th>
                                                    <th style="width:100px">
                                                        Supplier Payment
                                                    </th>
                                                    @*<th style="width:100px">
                                                        Ledger
                                                    </th>*@
                                                </tr>
                                            </thead>
                                            @{int sl = 0;
                                            }
                                            <tbody>
                                                @foreach (var item in Model.DataList)
                                                {
                                                    <tr>
                                                        <td>@(++sl)</td>
                                                        <td>
                                                            @item.Code
                                                        </td>
                                                        <td>
                                                            @item.Name
                                                        </td>
                                                        <td>
                                                            @item.Phone
                                                        </td>
                                                        <td>
                                                            @item.Email
                                                        </td>
                                                        <td>
                                                            @item.ContactPerson
                                                        </td>
                                                        <td>
                                                            @item.Address, @item.Country
                                                        </td>
                                                        <td>
                                                            @if (item.IsForeign == true)
                                                            {
                                                                <span class="label label-success">Exporter</span>
                                                            }
                                                            else
                                                            {
                                                                <span class="label label-primary">Local Supplier</span>

                                                            }
                                                        </td>
                                                        <td style="width:180px;">

                                                            @Html.ActionLink("Supplier Payment", "PurchaseOrdersByID", new { companyId = item.CompanyFK, supplierId = item.ID }, new {  @class = "InlineBtn", @target = "_blank" })
                                                            <br />
                                                            @Html.ActionLink("Purchase Order", "PurchaseOrderBySupplier", new { companyId = item.CompanyFK, supplierId = item.ID }, new { @class = "InlineBtn", @target = "_blank" })
                                                            <br />
                                                            @Html.ActionLink("Supplier Ledger", "POWiseSupplierLedgerOpening", new { companyId = item.CompanyFK, supplierId = item.ID }, new { @target = "_blank", @class = "InlineBtn" })
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                <div class="box-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>

@section scripts {

    <script type="text/javascript">

         $(document).ready(function () {
             $('.formValidator').bootstrapValidator();
             $("#ddlCommon_CountriesFk").val(1);
        });

    </script>
}



