
@using KGERP.Utility
@model KGERP.Service.ServiceModel.EmployeeVm
@{
    ViewBag.Title = "Employee List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h3>
        Employee List
    </h3>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li>

        </li>
    </ol>
</section>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-danger">
                    <div class="box-body">
                        <div class="table-responsive">
                            <table id="KgErpDataTable" style="width:100%; background-color:#ddd;" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>@CompanyInfo.CompanyShortName ID</th>
                                        <th>Name</th>
                                        <th>Department</th>
                                        <th>Designation</th>
                                        <th>Mobile No</th>
                                        @*<th>Service Area</th>*@
                                        <th>Joining Date</th>
                                        <th>Email</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {
                                        <tr>
                                            <td style="width:10px;">
                                                @(++sl)
                                            </td>
                                            <td>@item.EmployeeId</td>
                                            <td>@item.EmployeeName</td>
                                            <td>@item.DepartmentName</td>
                                            <td>@item.DesignationName</td>
                                            <td>@item.MobileNo</td>
                                            @*<td>@item.ServiceArea</td>*@
                                            <td>
                                                @if (@item.JoiningDate != null)
                                                {
                                                    var date = @item.JoiningDate?.ToString("dd/MM/yyyy");
                                                    <span>@date</span>
                                                }
                                            </td>
                                            <td>@item.Email</td>
                                            <td>
                                                @if (@Model.UserDataAccessModel.CanEdit)
                                                {
                                                    <a href="@Url.Action("CreateOrEdit", new { id = item.Id })" title="Edit" class="btn btn-info btn-xs">
                                                        <i class="fa fa-pencil" style="font-size:15px;" aria-hidden="true"></i>
                                                    </a>
                                                }

                                                <a href='@Url.Action("Index","Education")?id=@item.Id' class="btn btn-danger btn-xs" title="Education">
                                                    <i class="fa fa-book" style="font-size:15px;" aria-hidden="true"></i>
                                                </a>
                                                <a href="@Url.Action("GetEmployeeReport","Report", new { employeeId = item.EmployeeId })" title="Export Bio-Data" target="_blank" class="btn btn-warning btn-xs">
                                                    <i class="fa fa-download" style="font-size:15px;" aria-hidden="true"></i>
                                                </a>
                                                @if (@Model.UserDataAccessModel.CanEdit && @item.UserId > 0)
                                                {
                                                    <a id="@item.UserId" onclick="makeChangePassword(@item.UserId);" class="linkPointer btn btn-info btn-xs" data-toggle="modal" data-target="#userChangePasswordModal" title="Change Password"
                                                       data-placement="top">
                                                        <i class="fa fa-edit" aria-hidden="true"></i>
                                                    </a>
                                                }

                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("ChangeEmployeeUserPassword", "User", FormMethod.Post, new { id = "commonUserFormId", @class = "formValidator", onreset = "resetDDL();" }))
{
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.HiddenFor(model => model.UserModel.UserId, new { Value = "", id = "userIdChangePassword" })
    @*@Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionIdDelete" })*@

    <div class="modal fade" id="userChangePasswordModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Change User Password</b></h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UserModel.Password, htmlAttributes: new { @class = "control-label col-12" })
                                <div class="col-12">
                                    @Html.EditorFor(model => model.UserModel.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "password", required = "true" } })
                                    @Html.ValidationMessageFor(model => model.UserModel.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UserModel.ConfirmPassword, htmlAttributes: new { @class = "control-label col-12" })
                                <div class="col-12">
                                    @Html.EditorFor(model => model.UserModel.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "confirm password", required = "true" } })
                                    @Html.ValidationMessageFor(model => model.UserModel.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" id="btnClose" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnDelete" class="deleteId btn btn-primary"><i class="glyphicon glyphicon-check"></i> Confirm</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">
        function makeChangePassword(id) {
            if (id !== null) {
                $('#userIdChangePassword').val(id);
                //$('#ActionIdDelete').val(3);
            }
        };

        function resetForm() {
            $('#commonUserFormId')[0].reset();
            $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Add");

        };

    </script>

}




